.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 1rem 8rem;
  border-radius: 4px;
  font-size: 18px;
}

.btn--blue {
  margin: 3rem 0 0;
  background-color: #7f6ac9;
  color: $clr-white;
}

@media only screen and (max-width: 850px) {
  .btn--blue {
    padding: 1rem 2rem;
  }
}
