.main {
  background-color: $clr-background;
  color: $clr-text;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 0;
}
